= bootstrap_form_for @list, remote: true, html: {:multipart => true} do |task|
  - if @list.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibitet this task for being saved:
    %ul
      - @list.errors.full_messages.each do |msg|
        %li
          = msg
  .form-group
    = task.text_area :body
    = task.submit