!!! 5
%html{"ng-app" => "todo"}
  %head
    %title Todo app
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.container
    -#= render 'layouts/nav'
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-12.col-sm-offset-0.col-xs-12
      - flash.each do |name, msg|
        %br
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
      .clearfix
      %hr
      .col-xs-8.col-xs-offset-2
        %a.btn.btn-default{"href" => "#/"}
          link
        %a.btn.btn-default{"href" => "#/second"}
          second page
        %a.btn.btn-default{"href" => "#/third"}
          list
        = link_to "ToDo App", lists_path, class:("btn btn-success")